body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

img {
    text-align: center;
}

a {
    text-decoration: none;
}

.overflow {
    overflow: hidden;
    display: inline-block;
}

/* navbar */
.nav-container {
    display: table;
    border-bottom: 1px solid #7A7878;
    table-layout: fixed;
}

.nav-div1 {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    white-space: nowrap;
    padding-left: 2rem;
}

.nav-div2 {
    display: table-cell;
    /* text-align: right; */
    padding-right: 4rem;
    padding-bottom: auto;
    padding-top: auto;
    height: 55.78px;
    vertical-align: bottom;
    width: 1000px;
    white-space: nowrap;
    /* overflow: hidden; */
}

.nav-title {
    /* margin-left: 1.5rem; */
    text-decoration: none;
    width: 206px;
    height: 70px;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.nav-item {
    color: #9e9a9a;
    /* font-size: 1rem; */
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: 600;
}

.search-box {
    border: solid 1px#9e9a9a;
    padding-right: 100px;
    text-align: left;
    display: inline;
    margin-right: 6rem;
    padding: 0.7rem 0 0.7rem 0.3rem;
}

input {
    border: 0;
    width: 300px;
}

input:focus {
    outline: none;
}

button {
    border: 0;
    width: 2rem;
    background-color: white;
    cursor: pointer;
}

.apply {
    width: 262px;
    height: 75px;
    padding: 4px 13px;
    border-radius: 20px;
    border: solid 8px #E60012;
    /* font-family: GillSansMT; */
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.apply2 {
    margin-right: 4rem;
}

.info {
    margin-right: 20px;
}

/* navbar - menu */
.fa-align-justify {
    color: #7A7878;
}

.menu {
    position: absolute;
    top: 1.2rem;
    left: 83rem;

}

.menu .menu-list {
    position: absolute;
    left: -5rem;
    padding: 10px;
    display: none;
    width: 100px;
    line-height: 1.8;
    list-style: none;
    background-color: white;
    border: 3px solid #9e9a9a;
    border-radius: 1rem;
    height: 7rem;
    text-align: center;
    color: black;
}

.menu-content:visited {
    text-decoration: none;
    color: black;
}

.menu-content:active {
    text-decoration: none;
    color: black;
}

.info {
    margin-right: 20px;
}