.input-element {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
}

#place_name {
  width: 800px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#place_introduce {
  width: 800px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#place_caution {
  width: 800px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#place_address {
  width: 650px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#place_postcode {
  width: 220px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-right: 5px;
}

#place_detailAddress {
  width: 220px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-right: 5px;
}

#place_extraAddress {
  width: 220px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-right: 10px;
}

#place_a {
  width: 100px;
  height: 50px;
  background-color: #f65656;
  color: #ffffff;
  border: solid 1px #707070;
}

#place_price {
  width: 800px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#submit-btn {
  width: 450px;
  height: 70px;
  border: solid 1px #707070;
  background-color: #f65656;
  margin-top: 5px;
  transform: translateX(40%);
}

/* placefi.html------------------------------------------------ */
.fi:hover {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  color: black;
}

.fi {
  color: #7A7878;
  padding: 20px 50px;
  border-top: 3px solid #7A7878;
  border-bottom: 3px solid #7A7878;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 800;
}

.fi,
.fi::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}