{% load static %}

<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Place_register</title>
            <link rel="stylesheet" href="{% static 'css/place.css' %}">
            <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                        // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                    }
                }).open();
            </script>
        </head>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        
                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수
        
                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }
        
                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("place_extraAddress").value = extraAddr;
                        
                        } else {
                            document.getElementById("place_extraAddress").value = '';
                        }
        
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('place_postcode').value = data.zonecode;
                        document.getElementById("place_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("place_detailAddress").focus();
                    }
                }).open();
            }
        </script>
        <body>
            <h style="color: #898989; font: size 15px; font-weight:700; position:absolute; left:80%;" >*는 필수입력 요소입니다.</h>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-element">
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">장소명*</label><br>
                        <input type="text" name="place_name" placeholder="장소 이름을 입력해주세요" id="place_name" required>
                    </div>
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">장소소개*</label><br>
                        <input type="text" name="place_introduce" placeholder="장소를 소개해주세요. 상세할수록 예약확률이 높습니다." id="place_introduce" required>
                    </div>
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">장소 예약 시 주의사항</label><br>
                        <input type="text" name="place_caution" placeholder="주의 사항을 입력해주세요." id="place_caution">
                    </div>
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">장소이미지*</label>
                        <button type="image" name="place_image" id="place_image" required>
                    </div>
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">주소*</label><br>
                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" id="place_button"><br>
                        <input type="text" name="place_address" placeholder="주소" id="place_address" required>
                        <input type="text" name="place_address" id="place_detailAddress" placeholder="상세주소" required>
                        <input type="text" name="place_address" id="place_postcode" placeholder="우편번호">
                        <input type="text" name="place_address" id="place_extraAddress" placeholder="참고항목">
                    </div>
                    <div>
                        <label style="color:#f65656; font-weight:700; font-size:18px;">대여료*</label><h style="color:#f65656; font-size:15px; font-weight:700; position:absolute; left:60%;"  >※장소대여비는 24시간 기준으로 작성해주세요.</h> <br>
                        <input type="text" name="place_price" placeholder="원하시는 장소 대여비를 입력해주세요. EX) 80000원" id="place_price" required>
                    </div>
                    <button type="submit" id="submit-btn" style="color:white; font-size:20px;">등록하기</button>
                </div>
            </form>
        </body>
    </html>