/* base.html--------------------------------------------------------------------- */
.overflow {
    overflow: hidden;
    display: inline-block;
}

/* navbar */
.nav-container {
    border-bottom: none;
    background-color: #E97777;
}

.nav-title {
    text-decoration: none;
    color: #ffffff;
}

.nav-item {
    color: #ffffff;
}

.search-box {
    background-color: #ffffff;
}

.apply {
    border: solid 8px #ffffff;
    color: #ffffff;
}

.fa-align-justify {
    color: #ffffff;
}

.menu-content:visited {
    text-decoration: none;
    color: black;
}

.menu-content:active {
    text-decoration: none;
    color: black;
}

.info {
    margin-right: 20px;
}

/* -------------------------------------------------------------------- */