<!-- 이용약관 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    
</head>
   <body style="width: 1200px; margin-top:20px;">

        <a style="font-size: 3rem; font-weight:bold; color: #E60012; text-decoration: none; margin:30px;"
            href="{% url 'home2' %}">L.FUN!</a>
    <br>
    <br>
    <h2>상담실 안내 </h2>
    <div class="information">
        고객상담실에서는 전문상담원이 내점 고객 및 인터넷, 전화로 접수된 컴플레인을 소비자 분쟁해결 기준에 의하여 신속하게 해결해 드리기 위해 노력하고 있습니다.
        <br>
    </div>
    <div class ="sub_information" style="color: #E60012; font-weight: bold;">
        L.Fun 고객상담실 운영시간은 10:30 ~ 19:00 입니다.
    </div>
    <br>
    <h2>상담원</h2>
    <div>
         김원석, 김수아, 박홍준, 황미림
    </div>
    <br>
    <div>
        본점 : 한국기술교육대학교
        <br>
        전화번호 : 041 - 560 - 1114
    </div>
    
</body>
</html>
