<!-- 이용약관 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용약관</title>
</head>
   <body style="width: 1200px; margin-top:20px;">

        <a style="font-size: 3rem; font-weight:bold; color: #E60012; text-decoration: none; margin:30px;"
            href="{% url 'home2' %}">L.FUN!</a>
    <br>
    <br>
    <h2>정보제공</h2>
    <div class="use_constraint">
        * 제 1조
        - 회원가입 시, 제공한 개인정보는 개인/회원 확인 용도로 사용됩니다.
        <br>
        * 제 2조
        - 펀딩 오픈시 제공한 개인정보는 펀딩진행 및 신고 처리 용도로 사용됩니다.
        <br>
        * 제 3조
        - 서비스의 이용은 1일 24시간, 연중무휴로 가능한 것을 원칙으로 합니다. 다만, 업무 또는 기술상 장애 또는 기술적 보완 및 사이트의 개선을 이유로 하는 경우 등에는 서비스가 일시중지 되거나 이체서비스 이용시간의 제한 등의 사유로 인하여 서비스 이용시간이 변경되는 경우 이와 같은 사유를 홈페이지를 통하여 공지합니다.
    </div>
    <br>
    <h2>창작물 소유권</h2>
    <div>
        - 김원석, 김수아, 박홍준, 황미림
    </div>
    
</body>
</html>
