body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

img {
    text-align: center;
}

a {
    text-decoration: none;
}

/* navbar */
.nav-container {
    display: table;
    width: 100%;
    border-bottom: 1px solid #7A7878;
}

.nav-div1 {
    display: table-cell;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

.nav-div2 {
    display: table-cell;
    text-align: right;
    padding-right: 4rem;
    padding-bottom: auto;
    padding-top: auto;
    vertical-align: middle;
}

.nav-title {
    margin-left: 1.5rem;
    text-decoration: none;
    width: 206px;
    height: 70px;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.nav-item {
    color: #9e9a9a;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: 600;
}

.search-box {
    border: solid 1px#9e9a9a;
    padding-right: 100px;
    text-align: left;
    display: inline;
    margin-right: 6rem;
    padding: 0.7rem 0 0.7rem 0.3rem;
}

input {
    border: 0;
    width: 300px;
}

input:focus {
    outline: none;
}

button {
    border: 0;
    width: 2rem;
    background-color: white;
}

.apply {
    width: 262px;
    height: 75px;
    padding: 4px 13px;
    border-radius: 20px;
    border: solid 8px #E60012;
    /* font-family: GillSansMT; */
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.apply2 {
    margin-right: 5rem;
}

/* navbar - menu */
.fa-align-justify {
    color: #7A7878;
}

.menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    text-align: right;
}

.menu .menu-list {
    padding: 10px;
    display: none;
    line-height: 1.8;
    list-style: none;
    background-color: white;
    border: 3px solid #9e9a9a;
    border-radius: 1rem;
    height: 9rem;
    padding: 10px;
    text-align: center;
    color: black;
}

.menu-content:visited {
    text-decoration: none;
    color: black;
}

.menu-content:active {
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------------- */

/* 정렬1 */

.arr-box {
    border-bottom: 1px solid #7A7878;
    margin-top: 7%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fa-caret-down {
    color: #000000;
}

.arr1 {
    position: absolute;
    top: 20%;
    left: 80%;
}

.arr2 {
    position: absolute;
    top: 20%;
    left: 85%;
}

.arr .arr-list {
    /* 새로고침하면 닫힌 상태 */
    display: none;
    /* 각 줄의 높이 */
    line-height: 1.8;
    list-style: none;
    background-color: #ffffff;
    border: 3px solid #9e9a9a;
    border-radius: 1rem;
    padding: 10px;
    text-align: center;
    color: black;
    height: 110px;
}

.menu-content:visited {
    text-decoration: none;
    color: black;
}

.menu-content:active {
    text-decoration: none;
    color: black;
}

/* --------------------------------------------------- */
/* 내용 */
.fund-content {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.left-poster {
    width: 80%;
    height: auto;
}

.left-title {
    margin-top: 4%;
    font-size: 1.3rem;
    font-weight: 900;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: #9e9a9a;
    font-weight: 750;
}

.center-type,
.center-chari {
    border: 1px solid #E60012;
    padding: 2% 5%;
    color: #E60012;
}

.center-genre {
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 0;
}

.center-age,
.center-time {
    font-size: 0.8rem;
    margin: 1%;
}

.center-box1 {
    margin-top: 8%;
}

.center-box2,
.center-box3 {
    display: flex;
    justify-content: space-between;
}

.center-pro1 {
    margin-right: 5%;
    font-size: 1.5rem;
}

.center-pro2 {
    font-size: 0.8rem;
}

.center-pro3 {
    font-size: 0.8rem;
    margin: 3% 0 0 0;
    vertical-align: center;
}

.center-pro4 {
    color: #E60012;
    font-size: 1.4rem;
    vertical-align: center;
    padding-right: 10%;
}

.center-pro5 {
    color: #7A7878;
    font-size: 1rem;
    padding-right: 10%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: #000000;
}

.right-title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 900;
}

.right-intro {
    margin-top: 10%;
    font-weight: 900;
    font-size: 1rem;
}

.right-content {
    margin: 0;
    font-weight: 500;
    margin-left: 3%;
    /* 줄간격 */
    line-height: 150%;
}

.right-link {
    color: #9e9a9a;
    cursor: pointer;
}