{% load static %}

<!-- 사용한 색상 : #7A7878(진한 회색) #E60012(빨강) #9e9a9a(회색) black-->
<!-- 사용한 폰트 : Kanit(로고) / Gothic A1(내용) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place_register</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
    <!-- FontAwesome 아이콘 적용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- 구글폰트 적용-->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Kanit:wght@600&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- js qeury 메뉴 펼치기 기능 / 참고:https://stove99.tistory.com/103-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(document).ready(function(){ // html dom 이 다 로딩된 후 실행된다.
            $(".menu>i").click(function(){  // memu 클래스 바로 하위에 있는 i 태그를 클릭했을때
                var submenu = $(this).next("ul");
                // submenu 가 화면상에 보일때는 위로 부드랍게 접고 아니면 아래로 부드랍게 펼치기
                if( submenu.is(":visible") ){
                    submenu.slideUp();
                    menu.animate({right: "30"},1);
                }else{
                    submenu.slideDown();
                }
            });
        });
    </script>
</head>

<body>

    <!-- navbar -->
    <nav class="nav-container">

        <div class="nav-div1">
            <a class="nav-title" href="">L.FUN!</a>
        </div>

        <div class="nav-div2">
            <form class="nav-item search-box" action="" method="">
                <input id="" type="text" name="search" maxlength="20" placeholder="찾고싶은 공연이 있다면?">
                <button type="submit"><i class="fas fa-search fa-lg"></i></button>
            </form>
            <a class="nav-item apply" href="">장소 등록 신청</a>
            <a class="nav-item apply apply2" href="">펀딩 오픈 신청</a>
            <a class="nav-item info" href="">내 정보</a>
            <a class="nav-item info" href="">로그아웃</a>
        </div>

    </nav>

    <!-- 메뉴 펄치기 -->
    <span id="menu" class="menu">
        <i class="fas fa-align-justify" style="cursor:pointer"></i>
        <ul class="menu-list">
            <li><a class="menu-content" href="">참여한 펀딩</a></li>
            <li><a class="menu-content" href="">장소 대여 신청</a></li>
            <li><a class="menu-content" href="">소개</a></li>
            <li><a class="menu-content" href="">이용약관</a></li>
            <li><a class="menu-content" href="">고객센터</a></li>
        </ul>
    </span>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>

</html>