.input-element {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
}

#email {
    width: 400px;
    height: 35px;
    border: 3px solid #CBCCCE;
    border-radius: 7px;
    margin-bottom: 10px;
}

#password {
    width: 400px;
    height: 35px;
    border: 3px solid #CBCCCE;
    border-radius: 7px;
    margin-bottom: 10px;
}

#username {
    width: 400px;
    height: 35px;
    border: 3px solid #CBCCCE;
    border-radius: 7px;
    margin-bottom: 10px;
}

#re_password {
    width: 400px;
    height: 35px;
    border: 3px solid #CBCCCE;
    border-radius: 7px;
    margin-bottom: 10px;
}

#submit-btn {
    width: 410px;
    height: 50px;
    font-size: 19px;
    font-weight: 700;
    border: 3px solid #CBCCCE;
    border-radius: 7px;
    cursor: grab;
    margin-top: 30px;
    background-color: #F6F2DA;
    color: grey;
    cursor: pointer;
}

#submit-btn:hover {
    color: #f65656;
    font-weight: bold;
    background-color: #f0e8bf;
}

body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

img {
    text-align: center;
}

a {
    text-decoration: none;
}

/* navbar */
.nav-container {
    display: table;
    width: 100%;
    border-bottom: 1px solid #7A7878;
}

.nav-div1 {
    display: table-cell;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

.nav-div2 {
    display: table-cell;
    text-align: right;
    padding-right: 4rem;
    padding-bottom: auto;
    padding-top: auto;
    vertical-align: middle;
}

.nav-title {
    margin-left: 1.5rem;
    text-decoration: none;
    width: 206px;
    height: 70px;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.nav-item {
    color: #9e9a9a;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: 600;
}

.search-box {
    border: solid 1px#9e9a9a;
    padding-right: 100px;
    text-align: left;
    display: inline;
    margin-right: 6rem;
    padding: 0.7rem 0 0.7rem 0.3rem;
}

input {
    border: 0;
    width: 300px;
}

input:focus {
    outline: none;
}

button {
    border: 0;
    width: 2rem;
    background-color: white;
}

.apply {
    width: 262px;
    height: 75px;
    padding: 4px 13px;
    border-radius: 20px;
    border: solid 8px #E60012;
    /* font-family: GillSansMT; */
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #E60012;
}

.apply2 {
    margin-right: 5rem;
}

/* navbar - menu */
.fa-align-justify {
    color: #7A7878;
}

.menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    text-align: right;
}

.menu .menu-list {
    padding: 10px;
    display: none;
    line-height: 1.8;
    list-style: none;
    background-color: white;
    border: 3px solid #9e9a9a;
    border-radius: 1rem;
    height: 9rem;
    padding: 10px;
    text-align: center;
    color: black;
}

.menu-content:visited {
    text-decoration: none;
    color: black;
}

.menu-content:active {
    text-decoration: none;
    color: black;
}